<section class="section herotext">
  <h2 id="fragen">Fragen</h2>

  <h3>Welche Farben wurden eingesetzt?</h3>
  <table class="text">
    <tr>
      <th>Wände</th>
      <td>Brillux Superlux ELF 3000 weiß</td>
    </tr>
    <tr>
      <th>Wände Keller</th>
      <td>Herbol Classic Innenweiß Color</td>
    </tr>
    <tr>
      <th>Böden Keller</th>
      <td>Meistergold Beton- und Zementfarbe</td>
    </tr>
    <tr>
      <th>Türrahmen</th>
      <td>CWS DuoTop Aqua Satin // RAL 7030</td>
    </tr>
    <tr>
      <th>Türen</th>
      <td>CWS DuoTop Aqua Satin // RAL 7035</td>
    </tr>
  </table>

  <h3>Wen spreche ich an?</h3>
  <table class="text">
    <tr>
      <th>Heizung & Wasser</th>
      <td>Werkshage Heizung Sanitär: 02261.48 52 0</td>
    </tr>
    <tr>
      <th>Strom</th>
      <td>Elektrotechnik Meisterbetrieb Stefan Schmalenbach: 02261.91 33 37</td>
    </tr>
    <tr>
      <th>Dach</th>
      <td>Dachdeckermeister Bernd Schnellenbach: 02261.42 18 6</td>
    </tr>
  </table>

  <h3>Wie funktioniert die Heizung?</h3>
  <ul class="video-gallery">

    <li class="video-gallery__item">
      <figure>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yY2UR_TQesI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <figcaption>
        Abschaltautomatik im Fehlerfall
        </figcaption>
      </figure>
    </li>

    <li class="video-gallery__item">
      <figure>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mCkHbtiBE-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <figcaption>
        Gas ablesen
        </figcaption>
      </figure>
    </li>

    <li class="video-gallery__item">
      <figure>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/93MUaUG8R64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <figcaption>
        Wasser in der Heizung nachfüllen
        </figcaption>
      </figure>
    </li>


    <li class="video-gallery__item">
      <figure>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KDhZpv2XmeI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <figcaption>
        Wasseruhr ablesen
        </figcaption>
      </figure>
    </li>

    <li class="video-gallery__item">
      <figure>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q-3wWgThD_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <figcaption>
        Heizung programmieren
        </figcaption>
      </figure>
    </li>

    <li class="video-gallery__item">
      <figure>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wgP2F6X2weQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <figcaption>
        Wasserpumpe einstellen
        </figcaption>
      </figure>
    </li>

  </ul>

</section>