<div class="section herotext">
<p><a href="https://instagram.com/m.noss?igshid=MzRlODBiNWFlZA==">Ich</a> starte im kommenden Wintersemester mein Studium in Berlin. Yeah. Daher brauche ich bis spätestens Oktober eine Bleibe,</p>

<ul class="list">
  <li>entweder in einer WG (bis ca. 500€)</li>
  <li>oder einer Wohnung (bis ca. 1000€), so dass ich mit <a href="https://instagram.com/tessaklbg?igshid=MzRlODBiNWFlZA==">Tessa</a> eine WG aufmachen kann</li>
</ul>

<p>Falls jemand was passendes hat oder jemanden kennt oder was hört oder Ideen hat, wo ich oder wir unterkommen könnten: bitte bitte meldet euch <a href="#" data-info="mar<!-- hehe@moeep -->la.<!-- hehe@moeep -->alma.<!--huhu-->noss<!---no-->@gm<!-- hehe@moeep -->ail.com"></a></p>


</div>